html,
body {
    margin: 0;
    padding: 0;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header  {
    background-color: teal;
    text-align: center;
    color: white;
    padding: 1rem;
}


ul {
    list-style-type: none;
    padding-left: none;
    text-align: right;
    display: inline;
}

main {
    padding-left: 20px;
}

header + div {
    display: grid;
    grid-template-columns: 0.7fr 5fr;
}

.img {
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    margin-top: 20px;
}


a {
    display: block;
    text-decoration: none;
    color: teal;
    padding: 10px;
}

a:hover {
    background-color: teal;
    color: white;
}


.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    color: white;
    text-align: center;
    background-color: teal;
}